
<h1>Pokemons - <%= @type.name.capitalize %> Type</h1>

<div class="container">
  <table class="table table-bordered">
    <thead>
      <tr class="d-flex align-items-center">
        <th class="flex-grow-1"><h3>ID</h3></th>
        <th class="flex-grow-1"><h3>Image</h3></th>
        <th class="flex-grow-1"><h3>Name</h3></th>
      </tr>
    </thead>
    <tbody>
      <% @pokemons.each do |pokemon| %>
        <tr class="d-flex align-items-center">
          <td class="flex-grow-1"><%= pokemon.id %></td>
          <td class="flex-grow-1">
            <div class="d-flex justify-content-center">
              <div class="crop">
                <%= link_to pokemon_path(pokemon) do %>
                  <%= image_tag pokemon.image, class: "img-fluid", style: "width: 100px; height: 100px;" %>
                <% end %>
              </div>
            </div>
          </td>
          <td class="flex-grow-1"><%= link_to pokemon.name, pokemon_path(pokemon) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<nav class="float-right mt-2">
  <ul class="pagination pagination-sm">
    <% if @pokemons.previous_page %>
      <li class="page-item">
        <%= link_to 'Previous', category_path(@type, page: @pokemons.previous_page), class: 'page-link' %>
      </li>
    <% end %>

    <% if @pokemons.next_page %>
      <li class="page-item">
        <%= link_to 'Next', category_path(@type, page: @pokemons.next_page), class: 'page-link' %>
      </li>
    <% end %>
  </ul>
</nav>
